// Global Styles
.taskbar {
  color: $white;
  background-color: rgba(0, 0, 0, 0);
  font-family: "monospace";
  font-size: 62.5%;
}

tooltip {
  background-color: $black;
  color: $yellow;
  border-radius: 1em;
}

.widget-box {
  font-size: 1.6em;
  background-color: $background;
  border-radius: 0.5em;
  padding: 0.5em 0.7em;
}

.graph {
  border: 0.1em solid $blue;
  border-radius: 0.3em;
  padding: 0.1em;
  margin: 0.2em 0em;
}

.cpu-usage-graph {
  padding: 0 0.5em;
}

// ######### Workspaces ############
.workspaces-box {
  padding: 0 0em;
}

.ws {
  border-radius: 0em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  color: $yellow;
  background-color: $black;
}

.ws-active {
  border-top: 0.1em solid darken($color: $yellow, $amount: 30);
  border-right: 0.1em solid darken($color: $yellow, $amount: 30);
  border-bottom: 0.3em solid darken($color: $yellow, $amount: 30);
  border-left: 0.1em solid darken($color: $yellow, $amount: 30);
  box-shadow: 0.1em 0em 0.2em #000;
  background-color: lighten($color: $black, $amount: 2);
}

.ws-inactive {
  border-top: 0.2em solid black;
  border-right: 0.1em solid black;
  border-bottom: 0.1em solid black;
  border-left: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.2em #555;
  background-color: darken($color: $black, $amount: 5);
}
