[Desktop Entry]
Name=Square-edges
X-KDE-PluginInfo-Author=Fabian Preuß
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Square-edges
X-KDE-PluginInfo-Version=0.1
