[Desktop Entry]
Name=Hyprland (wrapped)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/home/dax/.local/share/hypr/hyprland_wrapper.sh
Type=Application
